/* KEYFRAMES */
@keyframes spin {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(359deg); } }

@keyframes configure-clockwise {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }

body {
  background-color: #1d2630;
    background-color-min-height: 100vh; }

.roundcard {
  border: 1px solid red;
  width: 50%;
  height: 0;
  padding: 25% 0;
  border-radius: 50%;
  background: #3ff9dc;
  background: linear-gradient(0deg, rgba(63, 249, 220, 0.1) 33%, #3ff9dc 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.03), inset 0 15px 15px rgba(0, 0, 0, 0.03); }

[class*="col"] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 0; }

.container {
  display: grid;
  items-place: center;
  /* GRID STYLING */ }

/* ALTERNATING ORBITS */
.circle-border {
  width: 10%;
  height: 0;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #3ff9dc;
  background: linear-gradient(0deg, rgba(63, 249, 220, 0.1) 33%, #3ff9dc 100%); }

.circle-core {
  width: 300px;
  height: 300px;
  background-color: #1d2630;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid green; }
