@import "function.scss"
@import "variable.scss"

body
    background-color: $dark
.square
    // border: 1px solid red
    width: 50%
    height: 0
    padding: 25% 0
    border-radius: 50%
    background: url("../img/clockface.png")
    background-size: cover
    display: flex
    align-items: center
    justify-content: center
[class*="col"]
    // background-color: #33b5e6
    // border: 2px solid #ffffff
    display: flex
    align-items: center
    justify-content: center
    padding: 2% 0

.container
    // background: blue
    display: -ms-grid
        display: grid
    items-place: center
    // justify-content: center
    padding: 10% 0